.testimonials_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;
    overflow-x: hidden;
  }
  
  .testimonials_card {
    background: var(--color-bg);
    padding: 2rem;
    border-radius: 1rem;
    width: 30rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .testimonials_top {
    margin-bottom: 1.5rem;
    height: 7rem;
  }
  
  .testimonials_top img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .testimonials_content {
    text-align: center;
    height: 29rem;
  }
  
  .testimonials_content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-light);
    margin-bottom: 0.5rem;
  }
  
  .testimonials_content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }
  
  .testimonials_content p {
    font-size: 1rem;
    color: var(--color-light);
    line-height: 1.6;
  }
  
  .testimonials_btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .testimonials_btn .btn {
    font-size: 2rem;
    color: var(--color-primary);
    background: transparent;
    border: none;
    margin: 0 1rem;
    cursor: pointer;
  }
  
  .testimonials_btn .btn:focus {
    outline: none;
  }
  
  /* Center the container and hide left/right testimonials on small devices */
  
  @media screen and (max-width: 1220px) { 
    .testimonials_card {
      height: 39rem;
    }
    .testimonials_content h3{
      height: 5rem;
    }
  }
  @media screen and (max-width: 1084px) {
    .testimonials_container {
      gap: 1.5rem;
    }
  }
  @media screen and (max-width: 870px) { 
    .testimonials_card {
      height: 42rem;
    }
  }
  @media screen and (max-width: 760px) {
    .testimonials_container {
      flex-wrap: wrap;
      gap: 1rem;
    }
    .testimonials_card {
      width: 25rem;
      height: 28rem;
    }
    .testimonials_card:not(.center) {
      display: none;
    }
    .testimonials_content h3{
      height: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .testimonials_card {
      width: 25rem;
      height: 31rem;
    }
  }

  @media screen and (max-width: 400px) {
    .testimonials_content h3 {
      font-size: 1.3rem;
    }
    .testimonials_content h4 {
      font-size: 1.1rem;
    }
    .testimonials_content p {
      font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 340px) {
    .testimonials_card {
      width: 25rem;
      height: 33rem;
    }
  }
  